#content
  %h1 Jesse Pollak
  :markdown
    Hi, I'm a computer science major at [Pomona College](http://pomona.edu) in Greater Los Angeles. I am the founder and maintainer of the [5C Ride Share App](http://5crideshare.com) and am currently working on LikeSecret—a startup dedicated to solving the dating problems that plague many college students.
    
    </br>
    
    At Pomona, I play on the [varsity soccer team](http://www.pe.pomona.edu/sports/msoc/index), am an active member of the [Kairos Society](http://kairossociety.org), and am getting involved with our campus AMC chapter. When I'm not in front of a computer, I love playing beach volleyball, telemark skiing, discussing politics, entrepreneurship, and technology, and riding my [Sole fixed gear](http://www.solebicycles.com/).  
    
    </br>

    If you're interested in seeing what I do, you can check out my code on [Github](http://github.com/jpollak92), see my answers on [StackOverflow](http://stackoverflow.com/users/625894/jesse-pollak) or read my ocassionally updated blog, [Closet Nerd](http://jessepollak.wordpress.com).  
    
    </br>

    If you want to be my friend, feel free to friend me on [Facebook](http://facebook.com/jessepollak) or follow me on [Twitter](http://twitter.com/jessepollak).  
    
    </br>

    And, if you have any questions, opportunities, or just want to talk, don't hesitate to email me at jpollak92@gmail.com
      



