#content
  #left-side
    :markdown
      <span>Right now</span>, I am working to bring political representation to our nation's youth at the [National Youth Policy Center](http://www.youthpolicy.us).  
      <br/>
      <span>Looking ahead</span>, I am trying to find a technical internship for this summer either in the SF Bay area or the DC metropolitan area. If you think you might have an opening I could interview for, I would very much appreciate it if you could <a href = "mailto:jpollak92@gmail.com">shoot me an email</a>.  
      <br/>
      <span>If you go to a Claremont College</span>, I'd love to <a href ="mailto:jpollak92@gmail.com">talk to you too</a>! Especially if you're into web development, computer science or entrepreneurship, and/or you're looking to spend some time building something awesome.
  #right-side
    .social
      %a(title = "Wordpress"){:href => "http://www.jessepollak.wordpress.com"}
        %p You can read my blog.
        = image_tag "wordpress.png"
        .clear
    .social
      %a(title = "Twitter"){:href => "http://twitter.com/jessepollak"}
        %p Or follow my thoughts.
        = image_tag "twitter.png"
        .clear
    .social
      %a(title = "LinkedIn"){:href => "http://www.linkedin.com/pub/jesse-pollak/2b/155/66a"}
        %p Or connect professionally.
        = image_tag "linkedin.png"
        .clear
    .social
      %a(title = "Facebook"){:href => "http://facebook.com/jessepollak"}
        %p Or maybe even be my friend.
        = image_tag "facebook.png"
        .clear
  .clear



  