#content
  :markdown
    *Hi*, my name is Jesse Pollak and I am a freshmen at [Pomona College](http://www.pomona.edu) outside of Los Angeles!  
    *I am* majoring in computer science, play on the varsity soccer team, and am a member of the [Kairos Society Chapter](http://kairossociety.org).  
    *You can* find me socially on [Facebook](http://facebook.com/jessepollak) and [Twitter](http://twitter.com/jessepollak), "professionally" on [LinkedIn](http://www.linkedin.com/pub/jesse-pollak/2b/155/66a), and all my code (including the code for this site) is hosted on [GitHub](https://github.com/jpollak92).  
    *Right now*, I am working on bringing political representation to our nation's youth at the [National Youth Policy Center](http://youthpolicy.us).  
    *Looking ahead*, I am trying to find a technical internship for this summer either in the SF Bay area or the DC metropolitan
    area. If you think you might have an opening I could interview for, I would very much appreciate it if you could [shoot me an email](jpollak92@gmail.com).  
    *If you go to a Claremont College* I'd love to [talk to you too](jpollak92@gmail.com)! Especially if you're looking to spend some time building something awesome.