#name
  %h1 Jesse Pollak
  =link_to image_tag( 'profile_pic.jpeg'), 'Jesse Pollak'
  .clear
#content
  :markdown
    Computer science major at [Pomona College](http://pomona.edu). 
    </br>
    </br>
    Founder and maintainer of the [5C Ride Share App](http://5crideshare.com) 
    </br>
    </br>
    Working on an unnamed startup that hopes to solve the dating problems that plague many college students. 
  #social
    %ul
      %li
        <a href="http://facebook.com/jessepollak">Facebook</a>
      %li
        <a href="http://twitter.com/jessepollak">Twitter</a>
      %li
        <a href="http://github.com/jpollak92">GitHub</a>
      %li
        <a href="http://www.linkedin.com/pub/jesse-pollak/2b/155/66a">LinkedIn</a>
      %li
        <a href="http://stackoverflow.com/users/625894/jesse-pollak">Stack Overflow</a>
      %li
        <a href="http://jessepollak.wordpress.com">Blog</a>
      .clear
      



