// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin roundcorners {
	border-radius: 15px;
	
}

$nicegrey: #363636;
$linkhover: #627199;
$link: #374B99;


*
{
	margin: 0;
	padding: 0;
}

body
{
	background: image_url('vertical_cloth.png');
}

.clear
{
	clear: both;
}

a
{
	text-decoration:none;
}

//Header



#rideshare-container
{
	position: relative;
	z-index: 1000;
	text-align:center;
	padding: 5px 0 5px 0;
	background: #999;
	border-bottom: #798599 2px solid;
	a
	{
		color: #ECECEC;
	}
	a:hover
	{
		color: #2F2F2F;
	}
}

//Main
#name
{
	width: 440px;
	margin: auto;
	margin-top: 60px;
	margin-bottom: 30px;
	background: image_url('ricepaper2.png');
	opacity: .5;
	border-radius: 5px;
	height: 100px;
	h1
	{
		font-family: 'Verdana', 'sans-serif';
		font-size: 3em;
		float: left;
		line-height: 100px;
		margin-left: 30px;
	}
	img
	{
		float: right;
		width: 80px;
		height: 80px;
		border: 5px solid white;
		margin: 5px 15px 0 0;
	}
}
#content
{
	font-family: 'Verdana', 'sans-serif';
	text-align: center;
	width: 400px;
	background: image_url('ricepaper2.png');
	margin: auto;
	padding: 20px 20px 20px 20px;
	line-height: 1.5em;
	border-radius: 5px;
	border: 1px solid #999;

	#social
	{
		width: 240px;
		margin: auto;
		ul {
			li {
				text-align: center;
				list-style: none;
				float: left;
				width: 120px;
			}
		}
	}
}

//Footer

#footer-container
{
	height: 50px;
}