// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin roundcorners {
	border-radius: 15px;
	
}

$nicegrey: #363636;
$linkhover: #627199;
$link: #374B99;


*
{
	margin: 0;
	padding: 0;
}

body
{
	background: image_url('vertical_cloth.png');
}

.clear
{
	clear: both;
}

a
{
	text-decoration:none;
}

//Header



#rideshare-container
{
	position: relative;
	z-index: 1000;
	text-align:center;
	padding: 5px 0 5px 0;
	background: #999;
	border-bottom: #798599 2px solid;
	a
	{
		color: #ECECEC;
	}
	a:hover
	{
		color: #2F2F2F;
	}
}

//Main
#content
{
	font-family: 'FontinSansRegular';
	width: 450px;
	background: image_url('ricepaper2.png');
	margin: auto;
	margin-top: 40px;
	padding: 20px 20px 20px 20px;
	line-height: 1.5em;
	border-radius: 5px;
	border: 2px solid #658AFF;
	box-shadow: 4px 4px 4px rgba(0,0,0,.8);
	p
	{
		text-indent: 2em;
	}
	h1
	{
		font-family: 'FontinSansBold';
		font-size: 1.8em;
		margin-bottom: 20px;
		text-align: center;
	}
	a
	{
		text-decoration: underline;
		color: black;
	}
	a:hover
	{
		color: #999;
	}
}

//Footer

#footer-container
{
	height: 50px;
}