#rideshare-container
  If you are from the 5C's, you're probably looking for the 
  =link_to "5C ride share", "/5crideshare"
#header-container
  #name-container
    %h1
      Welcome!
  %h2
    I'm Jesse Pollak.
  %h3
    I <span>develop,</span><span> design,</span><span> do math,</span><span> follow politics,</span><span> obsess over snow,</span><span> and play soccer.</span>
  #bar